name: Run Python Script

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4 # Action to check out your repository code

    - name: Set up Python
      uses: actions/setup-python@v5 # Action to set up a Python environment
      with:
        python-version: '3.14' # Specify the Python version

    - name: Install dependencies (optional)
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi # Installs packages from requirements.txt if present

    - name: Execute Python script
      run: python src/update_tables.py # Runs your Python script using the 'python' command
